 ASPNETCORE_ENVIRONMENT=
 ConnectionStrings__ManningDB=
 ConnectionStrings__VesselDB=
 ConnectionStrings__SeafarerDB=
 ConnectionStrings__MasterDB=
 SmtpConfiguration__Host=
 SmtpConfiguration__Port=
 SmtpConfiguration__EnableSsl=
 SmtpConfiguration__DeliveryMethod=
 SmtpConfiguration__UseDefaultCredentials=
 SmtpConfiguration__FromEmail=
 SmtpConfiguration__Login=
 SmtpConfiguration__Password=
 IdentityServerConfiguration__ShoreAuthorityUrl=
 IdentityServerConfiguration__SeafarerAuthorityUrl=
 IdentityServerConfiguration__ShoreApiKey=
 CrewWage__ApiUrl=
 AbodeSign__AccessKey=
 AbodeSign__ApiUrl=
 AbodeSign__ContractDocumentId_v1.1=
 AbodeSign__ContractDocumentId_v1.2=
 AbodeSign__ApiVersion=